/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Mulish", sans-serif;
}
/* headers */

.menu{
    padding-left: 145px;
    margin-left: 120px;
}
.menu-list{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.nav-section{
    display: flex;
    justify-content:flex-start;
}
.travel{
    color: #FF5400;
}
.menu > ul{
    display: flex;
    justify-content:space-between;
}
.menu > ul > li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.menu > ul > li a{
    text-decoration: none;
}
.menu-list{
    display: flex;
    justify-content: space-between;
}
.home-color{
    color: #FF5400;
}
.martya-title{
    color: #131318;
    /* font-size: 22px; */
    font-weight: 800;
}


.banner{
    max-width: 1000px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    background-image: url(../images/background.png);
    border-radius: 16px;
}
.banner-opacity{
    background-color: rgba(20, 19, 19, 0.418);
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 90px;
}
.banner-description{
    width: 60%;
    text-align: center;
    padding-left: 200px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    
}
.btn-banner-section{
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    background-color:rgba(255, 255, 255, 0.219);
    height:75px;
    border-radius: 5px;
}
.btn-banner{
    width: 135px;
    height: 35px;
    gap: 40px;
    border-radius: 7px;
    border: none;
    background-color: #FFF;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    line-height: 32px;
}
.btn-banner-find{
    width: 135px;
    height: 35px;
    border-radius: 7px;
    border: none;
    color: #FFF;
    background-color: #FF5400;
    color: white;
    line-height: 32px;
}
.fa-solid{
    padding-left: 36px;
}
.find-now{
    padding-left: 11px;
}

/* main section */

.main-section{
    max-width: 1000px;
    margin: 0 auto;
}
.read-more{
    width: 100px;
    height: 35px;
    align-items: center;
    border-radius: 7px;
    border: none;
    color: #FFF;
    background-color: #FF5400;
    color: white;
    line-height: 32px;
    padding-left: 15px;
}
.popular-tour-section{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

}

.popular-title, .destination-title{
    font-weight: 800;
    color: #131318;
}



.popular-tour-section img{
    width: 540px;
    height: 550px;
}
.popular-description, .destination-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 300;
    line-height: 28.6px;
}
.destination{
    text-align: center;
    padding-top: 35px;
}
.destination-title{
    padding-top: 20px;
}

.destination-description{
    width: 400px;
    padding-left: 300px;
}

.destination-container img{
    width: 100%;
    height: 85%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
}

.destination-img{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  

}
.destination-img-2{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.destination-img-3{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.choose-title{
    text-align: center;
    color: #131318;
    font-weight: 800;
}
.choose-description{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}
.choose-container{
    display: flex;
    justify-content: space-between;
}
.hotel{
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 9px;
}
.service{
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 9px;
}
.hotel-title, .service-title{
    color: #131318;
    font-weight: 800;
}
.hotel-description, .service-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
}
.price{
    text-align: center;
    background-color: rgba(233, 68, 68, 0.05);
    width: 50%;
    padding-left: 200px;
}
.prive-title{
    color: #131318;
    font-weight: 800;
}
.price-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
}


.deals-container{
    text-align: center;
    padding-top: 50px;
}

.simple-container{
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
}
.simple-description{
    color: #5A5A5D;
    font-weight: 400;
}
.simple-list{
    color: #131318;
    font-weight: 700;
}


.newsletter{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.newsletter-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.newsletter-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.form{
    border: 1px solid #FF5400;
    border-radius: 9px;
    padding: 20px;
}
.newsletter-img{
    margin-left: 17px;
}
.form input{
    width: 260px;
    height: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.subscribe{
    background: #FF5400;
    width: 268px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
}
.subscribe a{
    text-decoration: none;
    margin: 5px;
    font-weight: 800;
    color: white;
}
.save-up-to{
    border-radius: 8px;
    border: none;
    background: #FF5400;
    width: 20%;
    height: 80px;
    position: relative;
    bottom: 135px;
    left: 795px;
    transform: rotate(-19.628deg);
}
.save-up-to-title, .save-up-to-description{
    text-align: center;
    color: #FFF;
}


.footer-container{
    display: flex;
    justify-content: center;
}
.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 20px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
}
hr{
    align-items: center;
    width: 50%;
}
.copyright{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}
